<div class="container mt-5">
  <div class="text-center mb-4">
    <h1>Choose Your Sidekicks</h1>
    <p>Select one to three of our cool bots to get started!</p>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="row g-4">
        <!-- Loop through all sidekicks -->
        <div
          class="col-sm-6 col-md-4"
          *ngFor="let sidekick of this.sidekickService.getAllSidekicks()"
        >
          <div
            class="sidekick-card text-center"
            (click)="onSidekickSelect(sidekick)"
            [ngClass]="{ 'selected': sidekick.selected }"
          >
            <img
              [src]="sidekick.imagePath"
              [alt]="sidekick.name"
              class="sidekick-image"
            />
            <h5 class="mt-3">{{ sidekick.displayText }}</h5>
            <p class="text-muted">{{ sidekick.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mt-4">
    <button
      (click)="clickedOnStart()"
      class="btn btn-primary btn-lg"
      [disabled]="!sidekickService.getSelectedSidekick()"
    >
      Start Chatting with {{ sidekickService.getSelectedSidekick()?.displayText || "..." }}
    </button>
  </div>
</div>
